// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.header{
    padding-bottom: 25px;
}
.footer{
    margin-top: 25px;
    text-align: center;
    background-color: $white;
}
.comment-form{
    margin-top: 10px;
}
.text-content{
    background-color: $white;
}
.post-file{
    font-size: 1.5rem;
    text-align: center;
}
.comments{
    margin-top: 15px;

    &__author{
        font-weight: bold;
        padding: 0.75rem;
        background-color: rgba(0, 0, 0, 0.03);
    }
    &__title{
        text-align: center;
        font-size: 1.5rem;
    }
    &__text{

        padding-left: 5px;
        background-color: rgba(0, 0, 0, 0.03);
        &-header{
            font-weight: bold;
        }
    }

}
.pagination-list{
    display: flex;
    align-items: center;
    justify-content: center;

}
